footer.page-footer
  .grid-container
    .grid-row
      .col-lg-12
        .page-footer__links
          a.page-footer__link(href="#") About casino
          a.page-footer__link(href="#") Terms and conditions
          a.page-footer__link(href="#") Responsible gaming
          a.page-footer__link(href="#") Contact us
        .page-footer__payments
          a.page-footer__payment.page-footer__payment--mcard(href="#")
            .page-footer__payment-icon
          a.page-footer__payment.page-footer__payment--yandex(href="#")
            .page-footer__payment-icon
          a.page-footer__payment.page-footer__payment--visa(href="#")
            .page-footer__payment-icon
          a.page-footer__payment.page-footer__payment--liqpay(href="#")
            .page-footer__payment-icon
          a.page-footer__payment.page-footer__payment--qiwi(href="#")
            .page-footer__payment-icon
        .page-footer__copyright
          p.page-footer__copyright-text © 2015. All right reserved.
