.slider-winners.js-slider-winners
  -
    var winners = [
      {
        image: 'winners-img-gothic',
        game: 'Ghotic',
        amount: '185.00$',
        name: 'PlayerName'
      },
      {
        image: 'winners-img-got',
        game: 'Game of Thrones',
        amount: '185.00$',
        name: 'PlayerName'
      },
      {
        image: 'winners-img-robyn',
        game: 'Robyn',
        amount: '185.00$',
        name: 'PlayerName'
      },
      {
        image: 'winners-img-gothic',
        game: 'Ghotic',
        amount: '185.00$',
        name: 'PlayerName'
      },
      {
        image: 'winners-img-got',
        game: 'Game of Thrones',
        amount: '185.00$',
        name: 'PlayerName'
      },
    ]
  each winner in winners  
    a.slider-winners__slide(href="#")
      .slider-winners__slide-image
        img.slider-winners__slide-image-img(src="resources/img/"+ winner.image +".jpg", alt="Game image")
      .slider-winners__slide-content
        .slider-winners__slide-game!= winner.game
        .slider-winners__slide-amount!= winner.amount
        .slider-winners__slide-name!= winner.name
