.page-header {
  background-color: $darkPrimary;
  position: relative;

  /*** top part ***/
  &__top {
    min-height: 50px;
    background-color: $darkPrimary;
    position: relative;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    /* bottom border */
    &:after {
      content: '';
      background: $blueGradient;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  /* navigation */
  &__nav {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;

    &-link {
      font-size: 11px;
      line-height: 20px;
      color: $grayPrimary;
      font-family: $fontFamilyPrimary;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 17px 4px 13px 3px;
      margin-left: 5px;
      margin-right: 5px;
      text-shadow: 0 0 5px transparent;
      transition: color .35s ease-out, text-shadow .35s ease-out;

      &:hover {
        color: $orangePrimary;
        text-shadow: 0 0 5px $orangePrimary;
      }
    }
  }

  /* fast registration */
  &__fast-reg {
    display: block;
    padding: 8px 0 6px 15px;
    margin-left: 48px;
    position: relative;

    &-text {
      width: 170px;
      height: 36px;
      background-image: url("../img/fast-reg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-right: -5px;

      &:hover {
        background-image: url("../img/fast-reg--hover.png");
      }
    }
  }

  /* social buttons */
  &__social-buttons {
    display: flex;
    padding-top: 3px;
    padding-bottom: 4px;

    & .social-button {
      margin-left: -5px;
    }
  }

  /* language switcher */
  &__lang {
    width: 85px;
    margin-left: 20px;

    & .select-lang {
      margin-left: -5px;
    }
  }

  /*** main part ***/
  &__main {
    height: 80px;
    background-color: #000;
    position: relative;

    &-inner {
      display: flex;
      justify-content: space-between;
    }

    /* bottom border */
    &:after {
      content: '';
      background: $blueGradient;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  /* logo */
  &__logo {
    display: block;
    height: 100%;
    flex-shrink: 0;
    text-decoration: none;
    margin-left: -245px;

    &-img {
      width: 650px;
      height: 78px;
      object-fit: contain;
    }
  }

  /* auth */
  &__auth {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 20px;

    &-reg {
      &-btn {
        display: block;
        width: 150px;
        height: 44px;
        margin-top: -7px;
        margin-right: -4px;
        overflow: hidden;
        cursor: pointer;

        &-img {
          width: 100%;
          height: 100%;
          background-image: url("../img/btn-reg.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        &:hover &-img {
          background-image: url("../img/btn-reg--hover.png");
        }
      }
    }

    &-login {
      display: flex;
      align-items: flex-start;

      &-input {
        width: 113px;
        height: 27px;
        border-radius: 3px;
        background-color: white;
        padding: 5px 10px 4px;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 18px;
        color: black;
        letter-spacing: -0.03em;
        font-family: $fontFamilyPrimary;
        font-weight: 300;
        font-style: italic;
        margin-top: 1px;
        margin-left: 5px;
        margin-right: 5px;
      }

      &-password {
        display: flex;
        flex-direction: column;

        &-forgot {
          display: inline-block;
          font-size: 11px;
          line-height: 20px;
          color: $grayPrimary;
          letter-spacing: -0.03em;
          font-family: $fontFamilyPrimary;
          font-weight: 300;
          font-style: italic;
          text-shadow: 0 0 5px transparent;
          text-decoration: none;
          padding-left: 12px;
          margin-top: 2px;
          transition: color .35s ease-out, text-shadow .35s ease-out;

          &:hover {
            color: $orangePrimary;
            text-shadow: 0 0 5px $orangePrimary;
          }
        }
      }

      &-btn {
        display: block;
        width: 100px;
        height: 43px;
        margin-top: -7px;
        margin-right: -12px;
        margin-left: 10px;
        overflow: hidden;
        cursor: pointer;

        &-img {
          width: 100%;
          height: 100%;
          background-image: url("../img/btn-login.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        &:hover &-img {
          background-image: url("../img/btn-login--hover.png");
        }
      }
    }
  }

}



/* –––––––––––––––––––––––––––– */
/* –––––––––– TABLET –––––––––– */
/* –––––––––––––––––––––––––––– */
@media (max-width: 1023px) {
  .page-header {
    overflow: hidden;

    /*** top part ***/
    &__top {
      &-inner {
        flex-wrap: wrap;
      }
    }

    &__nav {
      order: 1;
    }

    &__lang {
      order: 2;
    }

    &__social-buttons {
      order: 3;
      padding-top: 0;
      margin-top: -10px;
      margin-left: -5px;
    }

    &__fast-reg {
      order: 4;
      padding-top: 0;
      margin-top: -3px;

      &:before {
        top: -2px;
      }
    }

    /*** main part ***/
    &__auth {
      margin-left: -210px;

      &-reg-btn {
        margin-right: -10px;
      }

      &-login-btn {
        margin-left: 0;
      }

      &-login-input {
        width: 100px;
      }
    }
  }
}


/* –––––––––––––––––––––––––––– */
/* –––––––––– MOBILE –––––––––– */
/* –––––––––––––––––––––––––––– */
@media(max-width: 767px) {

  .burger-toggle,
  .account-toggle {
    width: 70px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    border: 0;
    outline: none;
    position: absolute;
    top: 0;
    z-index: 9;
    cursor: pointer;
  }
  .burger-toggle {
    background-image: url("../img/mobile-menu.svg");
    background-position: 15px center;
    left: -20px;
  }
  .account-toggle {
    background-image: url("../img/mobile-user.svg");
    background-position: 30px center;
    right: -20px;
  }

  .page-header {

    /*** top part: burger menu ***/
    &__top,
    &__auth {
      display: block;
      position: fixed;
      top: 50px;
      height: calc(100% - 50px);
      left: -100%;
      width: 100%;
      margin: 0;
      background: $darkPrimary;
      border-top: none;
      transform: translate3d(0,0,0);
      z-index: 10;
      overflow-x: hidden;
      overflow-y: auto;

      &--opened {
        left: 0;
        width: 100%;
      }
    }

    /*** top part / burger menu ***/
    &__nav {
      order: 1;
      width: 100%;
      flex-direction: column;
      margin-bottom: 10px;

      &-link {
        font-size: 13px;
        color: white;
        font-weight: 400;
      }
    }

    &__fast-reg {
      width: 100%;
      order: 2;
      padding: 10px 0;
      padding-bottom: 10px;
      margin-left: -5px;
      margin-bottom: 10px;

      &:before {
        left: -10px;
        top: 8px;
      }
    }

    &__lang {
      display: flex;
      width: 100%;
      order: 3;
      margin-left: 0;
      margin-bottom: 20px;

      &-mobile-text {
        font-size: 13px;
        line-height: 38px;
        color: white;
        font-family: $fontFamilyPrimary;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 10px;
      }

      & .select-lang .chosen-container {
        margin-top: -7px;
      }
    }

    &__social-buttons {
      width: 100%;
      order: 4;
    }

    /*** main part: auth/acc menu ***/
    &__main {
      height: 50px;

      &-inner {
        justify-content: center;
        position: relative;
      }
    }

    &__logo {
      margin: 0 auto;

      &-img {
        height: 50px;
        width: auto;
      }
    }

    &__auth {
      &-reg-btn {
        margin: 0 auto 20px;
      }

      &-login {
        flex-direction: column;
        align-items: center;

        &-input {
          width: 180px;
          margin-bottom: 10px;
        }

        &-password &-input {
          margin-bottom: 0;
        }

        &-password {
          margin-bottom: 10px;

          &-forgot {
            text-align: center;
            padding-left: 0;
          }
        }

        &-btn-img {
          margin-left: -5px;
        }
      }
    }
  }

}

/*** burger & account menu opened ***/
body.hey-burger,
body.hey-account {
  overflow: hidden;
}
