.social-button {
  width: 43px;
  height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image .35s ease-out;
  cursor: pointer;

  &--fb {
    background-image: url("../img/social-btn--fb.png");

    &:hover {
      background-image: url("../img/social-btn-hover--fb.png");
    }
  }

  &--tw {
    background-image: url("../img/social-btn--tw.png");

    &:hover {
      background-image: url("../img/social-btn-hover--tw.png");
    }
  }

  &--vk {
    background-image: url("../img/social-btn--vk.png");

    &:hover {
      background-image: url("../img/social-btn-hover--vk.png");
    }
  }
}
