.social-button {
  width: 43px;
  height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    opacity: 0;
    width: 43px;
    height: 43px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .35s ease-out;
  }

  &:hover:after {
    opacity: 1;
  }

  &--fb {
    background-image: url("../img/social-btn--fb.png");

    &:after {
      background-image: url("../img/social-btn-hover--fb.png");
    }
  }

  &--tw {
    background-image: url("../img/social-btn--tw.png");

    &:after {
      background-image: url("../img/social-btn-hover--tw.png");
    }
  }

  &--vk {
    background-image: url("../img/social-btn--vk.png");

    &:after {
      background-image: url("../img/social-btn-hover--vk.png");
    }
  }
}
