.hidden {
  display: none !important;
}

/* ––––––––––––––––––––––––––––––– */

.disabled {
  opacity: .5;
  cursor: default;
}

/* ––––––––––––––––––––––––––––––– */

.clearfix {
  &:before, &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* ––––––––––––––––––––––––––––––– */

.bold {
  font-weight: 600;
}

/* –––––––––––––––––––––––––––– */
/* –––––––––– TABLET –––––––––– */
/* –––––––––––––––––––––––––––– */
@media (max-width: 1023px) {

}


/* –––––––––––––––––––––––––––– */
/* –––––––––– MOBILE –––––––––– */
/* –––––––––––––––––––––––––––– */
@media(max-width: 767px) {

}

/* ––––––––––––––––––––––––––––––– */
