/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* –––––––––––––––––––fonts––––––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */

$fontFamilyPrimary: 'Roboto Condensed', Roboto, Helvetica, Arial, sans-serif;

/* ––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––primary colors––––––––––––––––– */
/* ––––––––––––––––––––––––––––––––––––––––––––– */
$grayPrimary:   #a2a1a1;
$yellowPrimary: #f2de7b;
$orangePrimary: #eeb574;
$darkPrimary:   #111111;

$blueGradient: linear-gradient(to right, #2b6f91 0%,#2b6f91 10%,#61add3 20%,#aee0f9 30%,#61add3 40%,#aee0f9 50%,#61add3 60%,#aee0f9 70%,#61add3 80%,#2b6f91 90%,#2b6f91 100%);
